$mobile:426px;
$tablet:769px;
$desktop:1440px;


// colors 

$lighter:#2C74B3;
$light :#205295;
$dark: #144272;
$darkest: #0A2647;

$white:aliceblue;

body{
    background-color:$darkest;
    color:$white;
}   

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}
