@import "./Common.scss";
.createpost-news-wrap {
  width: 23%;
  .news-card{
	border-radius: 25px;
	margin: 1rem 0rem;
  }

  .createpost-wrap,
  .createpost-modal {
    width: 100%;
    border-radius: 25px;
    height: fit-content;

    .card {
      color: aliceblue;
      background-color: $dark;
      border-radius: 25px;
      border: none;
      .card-header {
        border-radius: 25px;
      }
    }
    .card-body {
      .card-user-info {
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .user-img-wrap {
          margin: 0.2rem;
          img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            border: none;
            border-radius: 100px;
          }
        }
        .name-post-visibility {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
      }

      .post-input-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        textarea {
          width: 100%;
          height: 200px;
          border: 1px solid rgb(136, 136, 136);
          border-radius: 10px;
          padding: 10px;
          margin: 0.5rem 0rem;
          background-color: $light;
          color: inherit;
          &:focus {
            outline: none;
          }
        }

        input[type="file"] {
          margin: 0.5rem 0rem;
          display: none;
        }
        label {
          width: 100%;
          border-radius: 25px;
        }

        #post-btn {
          width: 100%;
          margin: 0.5rem 0rem;
          border-radius: 25px;
          text-transform: uppercase;
          background-color: $lighter;
          border-color: $lighter;
        }
      }
    }
  }
}
// Mobile view
@media (min-width: 0px) and (max-width: $mobile) {
	.createpost-news-wrap{
			display: none;
	}
  .createpost-wrap {
    display: none;
  }
}

// tablet view
@media (min-width: $mobile) and (max-width: $tablet) {
	.createpost-news-wrap{
		display: none;
}
  .createpost-wrap {
    display: none;
  }
}
// desktop view
@media (min-width: $tablet) and (max-width: $desktop) {
  .createpost-wrap {
    display: block;
  }
}
