@import "./Common.scss";

#navbar {
	background-color: $dark;
	color: aliceblue;
	.navbar-wrap {
		.navbar-brand {
			color: aliceblue;
		}
		.nav-link-wrap > * {
			color: aliceblue;
		}
	}
}
.profile {
	border-radius: 100px;
	width: 40px;
	height: 40px;
	object-fit: cover;
}
.nav-profile-btn{
	display: none;
}
@media (min-width: 0px) and (max-width: 426px) {
	.nav-profile-btn{
		display: block;
	}
}