@import './Common.scss';

.news-card{
    background-color: $dark;
    color: aliceblue;
    
}
.UrlLink{
    font-size: 14px;
    color: white;
}
.UrlLink:hover{
    color: rgb(204, 204, 204);
}


.P{
font-size: 13px;
}