@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.SignUpHeading{
    text-align: center;
    font-weight: 400;
    letter-spacing: 3px;
}
.SignUpNav .Auth{
    width: fit-content;
    padding-top: 12px;
    padding-left: 110px;
}
.SignUpCenter{
    margin: auto;
    background: #efeeee;
    width: fit-content;
    padding: 30px;
    border-radius: 11px;
}
.SignUpCenter input {
    width: 397px;
    padding: 7px;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 27px;
}
.SignUpCenter label{
    color: #555454;
}
.SignUpButton{
    text-align: center;
}

.JoinBtn{
    background: #0a66c2;
    color: white;
    width: 416px;
    padding: 12px;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    margin-top: 16px;
    letter-spacing: 2px;
}
.JoinBtn:hover{
    background: #04407b;
}
.Already{
    text-align: center;
    font-size: 20px;
    margin-top: 33px;
    color:black
}
.AlreadyLink{
    text-decoration: none;
    color: #0a66c2;
    font-weight: bold;
}
.AlreadyLink:hover{
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .SignUpHeading{
        font-size: 17px;
        letter-spacing: 0;
        font-weight: bold;
    }
    .SignUpNav .Auth{
        width: 100px;
        margin-left: 0;
        padding-left: 14px;
        margin-bottom: 43px;
    }
    .SignUpCenter input{
        width: 298px;
    }
    .JoinBtn{
        width: 298px;
    }
    .SignUpCenter{
        padding-left: 10px;
        padding-right: 10px;
    }
}